@charset "utf-8";



#wrap{
  width: 1920px;
  margin: 0 auto;
  text-align: center;
}


/* 이미지영역 */
.slides{
  overflow: hidden;
  position: relative;
  width: 100%;
}
.slides>.slides-container{
  display: flex;
  flex-flow: row nowrap;
  width: 400%;
  transition: all 0.4s ease-in-out;
}
.slides>.slides-container>p{
  width: 25%;
  background-size: cover;
  /* background-repeat: no-repeat; */
}

.slides>.slides-container>p:nth-child(1){background-image: url(./../images/img1.png);}
.slides>.slides-container>p:nth-child(2){background-image: url(./../images/img2.png);}
.slides>.slides-container>p:nth-child(3){background-image: url(./../images/img3.png);}
.slides>.slides-container>p:nth-child(4){background-image: url(./../images/img4.png);}

.slides>.slides-container>p>a{
  display: block;
  height: 774px;
  text-indent: -99999px;
}


/* 하단 브랜드글씨영역 */

.slides>.slides-pagination{
  display: flex;
  flex-flow: row nowrap;
  position: absolute;
  left:562px;
  bottom: 230px;
}
.slides>.slides-pagination>li{
  width: 8px;
  margin-right: 10px;
  border-radius: 50px;
  background-color: #fffa;
}

/* .slides>.slides-pagination>li:nth-child(2){
  margin-right: 20px;
} */

.slides>.slides-pagination>li>a{
  display: block;
  height: 8px;
  text-indent: -9999px;
}

.slides>.slides-pagination>li:hover>a,
.slides>.slides-pagination>li.on>a{
  border-radius: 50px;
  background-color: rgb(93, 108, 248);
}


/* 이전, 다음 */
.slides>.slides-navigation{
  display: block;
  position: absolute;
  top: 50%;
  width: 40px;
  height: 73px;
  margin-top: -50px;
  text-indent: -9999px;
  background-image: url(./../images/btn_navigation.png);
}

.slides>.slides-navigation.prev{
  left: 350px;
  background-position: -5px -171px;
}

.slides>.slides-navigation.prev:hover{
  background-position: -5px -254px;
}

.slides>.slides-navigation.next{
  right: 350px;
  background-position: -5px -5px;
}

.slides>.slides-navigation.next:hover{
  background-position: -5px -88px;
}


/* 자동실행 버튼 */
.slides>.slides-auto{
  display: block;
  position: absolute;
  bottom: 250px;
  
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  background-image: url(./../images/icons.png);
  /* border: 1px solid #000; */
}

.slides>.slides-auto.play{
  left: 560px;
  background-position: -62px -24px;
}

.slides>.slides-auto.stop{
  left: 590px;
  background-position: 0 -57px;
}

address{
  height: 30px;
  line-height: 30px;
  text-align: center;
}